.bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}


.piece {
  position: absolute;
  font-size: 90px;
  opacity: 0.06;
  animation: float 10s ease-in-out infinite;
}

.p1 {
  top: 10%;
  left: 5%;
}

.p2 {
  top: 40%;
  right: 10%;
}

.p3 {
  bottom: 20%;
  left: 30%;
}

.p4 {
  top: 70%;
  right: 30%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}