

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  max-width: 380px;
  text-align: center;

}

.heading h2 {
  font-size: var(--text-2xl);
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--text-main);
}

.formBox {
  width: 100%;
  display: flex;
}



.form {
  width: 100%;
  padding: 20px 15px;
  border-radius: 20px;

  background: var(--bg-form);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 0, 0, 0.06);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.inputWrapper {
  position: relative;
  margin-bottom: 20px;
}


.input,
.textarea {
  width: 100%;
  padding: 14px 12px;
  font-size: var(--text-md);
  border: none;
  border-bottom: 2px solid var(--accent);
  color: var(--text-main);
  background: transparent;


  outline: none;
  background: transparent;
  font-size: 14px;
  resize: none;
}

.input:focus,
.textarea:focus {
  border-color: var(--accent);
  box-shadow: 0 2px 0 var(--accent);
}

.label {
  position: absolute;
  left: 12px;
  top: 14px;
  font-size: 14px;
  color: gray;
  pointer-events: none;
  transition: 0.3s ease;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label,
.textarea:focus+.label,
.textarea:not(:placeholder-shown)+.label {
  top: -10px;
  font-size: 11px;
  color: var(--accent);
}

.button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;

  border: none;
  border-radius: 10px;

  background: var(--accent);
  color: white;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.success {
  margin-top: 15px;
  text-align: center;
  color: green;
  font-size: 14px;
}

.error {
    border-bottom: 2px solid red ;
}

@media (min-width: 768px) {
  .form {
    padding: 30px;
  }
  
  .input, .textarea {
    font-size: 14px; 
  }

  .heading {
    max-width: 380px; 
  }
}

@media (min-width: 992px) {
  .formBox {
    max-width: 500px;
    margin: 0 auto;
  }
}