.contact {
  padding: 80px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  max-width: 380px;
  text-align: center;

}

.heading h2 {
  font-size: var(--text-2xl);
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--text-main);
}

.formBox {
  width: 100%;
  display: flex;
}



/* FORM */
.form {
  width: 100%;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 0, 0, 0.06);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* INPUT WRAPPER */
.inputWrapper {
  position: relative;
  margin-bottom: 20px;
}

/* INPUT + TEXTAREA */
.input,
.textarea {
  width: 100%;
  padding: 14px 12px;
  border: none;
  border-bottom: 2px solid var(--accent);
  outline: none;
  background: transparent;
  font-size: 14px;
  resize: none;
}

.input:focus,
.textarea:focus {
  border-color: var(--accent);
  box-shadow: 0 2px 0 var(--accent);
}

/* LABEL */
.label {
  position: absolute;
  left: 12px;
  top: 14px;
  font-size: 14px;
  color: gray;
  pointer-events: none;
  transition: 0.3s ease;
}

/* FLOAT EFFECT */
.input:focus+.label,
.input:not(:placeholder-shown)+.label,
.textarea:focus+.label,
.textarea:not(:placeholder-shown)+.label {
  top: -10px;
  font-size: 11px;
  color: var(--accent);
}

/* BUTTON */
.button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;

  border: none;
  border-radius: 10px;

  background: var(--accent);
  color: white;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.success {
  margin-top: 15px;
  text-align: center;
  color: green;
  font-size: 14px;
}

.error {
    border-bottom: 2px solid red !important;
}