.section {
  padding: 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--bg-alt);
  overflow: hidden;
}

.header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 20px auto;
}

.header h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text-main);
  letter-spacing: 1px;
}

.header p {
  font-size: 16px;
  color: #777;
  line-height: 1.6;
}

.image {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  transition: 0.3s ease;
}

.card:hover .image {
  filter: brightness(60%);
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: zoom-out;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  transform: scale(1);
  transition: 0.3s ease;
}