.contactGrid {
    position: relative;
    z-index: 5;

    display: grid;
    grid-template-columns: 1fr; 
    gap: 40px;
   
}



.sectionHero {
    background: var(--bg-condact);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    z-index: 1;
}

.sectionHero::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--testimonial-overlay);
    z-index: 2;
    pointer-events: none;
   
}


.sectionFormMap {
    background: var(--bg-alt);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}


@media (min-width: 992px) {
    .contactGrid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}