

.piecesSection, 
.tacticsSection {
  padding-top: 120px;
}

.heroSection {
  padding-top: 75px;
}


.heroSection,
.piecesSection,
.tacticsSection {
  background: transparent;
}



main {
  display: flex;
  flex-direction: column;
  gap: 0;

  position: relative;
  z-index: 1;

  background: transparent; 
}

section {
  transition: all 0.3s ease;
  scroll-margin-top: 80px;

  position: relative;
  z-index: 1;
}


html {
  scroll-behavior: smooth;
}

